body{
    background-color: black;
    font-family: 'Comic Sans MS';
    color: white;
}

.titleText{
    color: lightpink;
    margin-bottom: 0px;
    text-shadow: 1px 1px 10px lightpink;
    width:fit-content;
}

.pageHeader{
    width:fit-content;
}

.greenNumber{
    color:lime;
}

select {
    color:blueviolet;
    background-color:aliceblue;
}

button, input{
    color:blueviolet;
    background: aliceblue;
}

#ignoreSL{
    color:antiquewhite;
    accent-color: blueviolet;
    cursor: pointer;
}

/* .pa {
    align-content: center;
} */


/* .p-inline-playstyleToggle{
  display: inline;
  padding-right: 100px;
} */

td {
    border: 1px solid white;
    width: 50;
    text-align: right;
} 

th {
    border: 1px solid white;
    width: 75;
} 

table {
    border-collapse: collapse;
    /* width: 100%; */
    max-width: 800px;
}

.hiSpeedCell{
    text-align:left;
}